.Weather {
    padding: 16px;
}


.Weather h1 {
    color: #113f67;
    display: block;
    font-size: 24px;
    font-weight: 100px;
    line-height: 29px;
    margin: 20px 0 0;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style-type: none;    
}

.Weather .btn-primary {
    background-color: #a2a8d3;
    border-color: #38598b;
}

.Weather .temperature {
    color: #113f67;
    font-size: 64px;
    font-weight: bold;
    line-height: 64px;
}

.Weather .unit {
    color: #113f67;
    font-size: 16px;
    line-height: 1;
    margin-left: 4px;
    position: relative;
    top: -34px;
}